
:root {
    --branco-principal: # FFFFFF ;
    --cinza-secundario: # C0C0C0 ;
    --butao-azul: # 167BF7 ;
    --cor-de-fundo : # 00030C ;
    --fonte-principal:'Inter';
}

body {
    background-color :var(--cor-de-fundo);
    color :var(--branco-principal);
    font-family :var(--fonte-principal);
    font-size: 16 px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image : url("Background.png");
    background-repeat: no-repeat;
    background-size : contain;
}

.container {
    height: 100 vh;
    display : grid;
    grid-template-columns : 50% 50%;
}

.botao-secundario {
    background-color : var ( --button-blue );
    border-radius: 5 px;
    padding: 1 in;
    color :var(--branco-principal);
    display : block;
    text-decoration: none;
}

.secondary-button {
    background-color : transparent;
    border : 2px solid var(--branco-principal) 
}

.container-aviso {
    font-size: 12 px;
    color:var(--cinza-secundario);
}

.container-titulo {
    font-size: 28 px;
    font-weight: 700;
}
